{{voir homonymes|Mono}}
{{ Infobox Logiciel
| nom                       = Mono
| logo                      = [[Image:Mono project logo.svg|80px]]
| image                     = 
| description               = 
| développeur               = [[Novell]]
| dernière version          = 1.2.5.1
| date de dernière version  = {{Date|20|septembre|2007}}
| version avancée           = 
| date de version avancée   = 
| environnement             = [[Multiplate-forme]]
| langue                    = 
| type                      = 
| licence                   = [[Licence Publique Générale|GPL]], [[Licence publique générale limitée GNU|LGPL]] ou [[X11]]
| site web                  = [http://www.mono-project.com www.mono-project.com]
}}
'''Mono''' est une [[mise en œuvre]] [[logiciel libre|libre]] (sous licence [[Licence Publique Générale|GPL]], [[Licence publique générale limitée GNU|LGPL]] ou [[X11]] selon les éléments) de la plate-forme de développement [[Microsoft .NET]].

Mono a été initié par [[Miguel de Icaza]] et est actuellement soutenu par [[Novell]].

== Présentation ==
Mono est une plate-forme de développement complète basée sur une mise en œuvre de la machine virtuelle [[Microsoft .NET|.NET]] et des [[Application programming interface|API]] de base définis à l'[[ECMA]] (également normes [[Organisation internationale de normalisation|ISO]]).

Mono propose entre autres :
* Un compilateur [[C sharp|C# 2.0]], une machine virtuelle, de nombreuses classes de base; tous ces composants reposent sur les standards [http://www.ecma-international.org/publications/standards/Ecma-334.htm Ecma-334] et [http://www.ecma-international.org/publications/standards/Ecma-335.htm Ecma-335]. Mono propose également un compilateur Javascript et VB.NET;
* des API indépendantes de l’environnement : sécurité, base de données, [[Service web|web services]], [[XML]], web forms ;
* des API destinées à la programmation sous GNU/Linux et plus particulièrement [[GNOME]] : [[Gtk Sharp|Gtk#]], Glade# Gecko#, Gst# ;
* des API compatibles avec le [[framework]] [[Microsoft .NET|.Net]] de [[Microsoft]] ; il s'agit du portage de briques logicielles non couvertes par une standardisation [[Ecma International|ECMA]], comme ASP.NET, ADO.NET...
* un IDE ([[environnement de développement intégré]]) : [[MonoDevelop]], avec notamment le support de la complétion de code qui fait le bonheur des utilisateurs de [[Visual Studio]] et d’[[Eclipse (environnement de développement)|Eclipse]] ;
* un outil pour naviguer dans la documentation : Monodoc, qui a l'originalité de pouvoir être modifié par le programmeur qui peut ensuite envoyer automatiquement les modifications au [[CVS]] de Mono ; 
* un serveur web léger entièrement compatible avec la technologie ASP.NET qui permet d'utiliser n'importe quel langage de la plate-forme pour générer des sites web dynamiques. Un module [[Apache (logiciel)|Apache]] est également disponible.

== Comparaison avec la plate-forme Java ==
Souvent comparé à la plate-forme [[Java (langage)|Java]], cette plateforme en partage de nombreux aspects techniques comme l’utilisation d'un langage intermédiaire (IL pour Intermediate Langage, équivalent du bytecode Java), le support d’application Web, la portabilité (toute relative cependant pour les deux plateformes) et un ensemble impressionnant d’API fournis en standards.

Mono se démarque cependant de la solution de [[Sun Microsystems|Sun]] :
* la plate-forme décrit également un système facilitant l’interopérabilité entre les langages : le programmeur développe dans le langage de son choix mais sa bibliothèque pourra être utilisée par tous les langages de la plate-forme, de manière transparente, sans créer de ''bindings'' souvent lourds et coûteux à utiliser et maintenir ;
* des fonctionnalités supplémentaires comme les métadonnées, la détection de débordement ou encore le ''versionning'' et la simplicité d’utilisation d’API écrits en C ;
* une philosophie différente : Java vise avant tout la portabilité du bytecode et des API standards, Mono vise plutôt l’intégration dans l'environnement d'exécution, parfois au détriment de la portabilité.

Note : la plate-forme est conçue pour des langages compilés et orientés objet. La mise en œuvre de [[Python (langage)|Python]] IronPython a cependant démontré qu’il était tout à fait possible d’obtenir des performances similaires avec un langage historiquement interprété. Il faut également noter que la plate-forme est facilement interfaçable avec d’autres langages compilés de manière traditionnelle comme le langage C.

== Mono et les brevets Microsoft ==
Le portage vers '''Mono''' de composants [[Microsoft .NET|.NET]] non soumis à l'[[Ecma International|ECMA]] pour standardisation exposa le projet à des poursuites pour violations de  brevets logiciels, et ce depuis le début. Ce risque n'est pas lié aux technologies soumises à l'[[Ecma International|ECMA]], comme [[C sharp|C#]], ni aux [[Bibliothèque logicielle|bibliothèques]] ou autres couches logicielles du projet GNU. Ces brevets concernent des technologies développées par Microsoft et constituant en partie le [[framework]] [[Microsoft .NET|.NET]], comme '''ASP.NET''', '''ADO.NET''' ou la couche communication du framework [[Microsoft .NET|.NET 3.0]] ('''Windows Communication Foundation''')... Ces technologies ne sont pas totalement mises en œuvre à ce jour, mais ne sont pas vitales au développement d'applications Mono. 

=== Accord entre Novell et Microsoft ===
'''Microsoft''' et '''Novell''' ont annoncé le [[2 novembre]] [[2006]] la signature d'un accord dans lequel [[Microsoft]] s'engage à ne poursuivre ni [[Novell]], ni leurs clients, pour violation de brevets logiciels. Le projet Mono est concerné par cet accord.

=== Controverse au sujet de la GPL ===
Bien que soutenu par [[Novell]], le projet Mono concerne d'autres acteurs du logiciel libre. Pour certains, l'accord entre [[Microsoft]] et [[Novell]] représente un risque pour le logiciel libre ainsi qu'une remise en cause de sa [http://www.fsf.org/licensing/essays/free-sw.html définition] {{en}}.
* Explications de [[Miguel de Icaza]] : [http://tirania.org/blog/archive/2006/Nov-04.html "Microsoft and Novell Collaboration, follow"] {{en}} .
* Article de David Sugar  (Free Software magazine) : [http://www.freesoftwaremagazine.com/node/1851/ "From freedom to slavery; a week of two distros"] {{en}}.

== Liens internes ==
* [[MonoDevelop]] : Un environnement de développement pour Mono sous Linux et MacOS X

== Liens externes ==
* {{en}} [http://www.mono-project.com Site officiel]
* {{en}} [http://www.go-mono.com/docs/ Documentation des classes]
* {{fr}} [http://monodevelop.org/lang/fr/ MonoDevelop] : Un environnement de développement pour Mono
* {{fr}} [http://monofrance.tuxfamily.org Monofrance] Portail francophone dédié à Mono avec Documentation, Foire aux question, Forum et info.
* {{fr}} http://pkg-mono.alioth.debian.org : Mono pour [[Debian]]
* {{en}} http://www.mono-live.com : Image ISO ou VMWare pour tester Mono

{{Portail logiciels libres}}

[[Catégorie:Logiciel libre]]

[[ca:Projecte Mono]]
[[cs:Mono (platforma)]]
[[da:Mono (project)]]
[[de:Mono-Projekt]]
[[en:Mono (software)]]
[[es:Proyecto Mono]]
[[fi:Mono (kehitysympäristö)]]
[[he:מונו (תוכנה)]]
[[hu:Mono (szoftver)]]
[[it:Mono (progetto)]]
[[ja:Mono (ソフトウェア)]]
[[nl:Mono (ontwikkelplatform)]]
[[pl:Mono (projekt)]]
[[pt:Mono (projeto)]]
[[ru:Mono]]
[[sv:Mono (utvecklingsplattform)]]
[[vi:Mono]]
[[zh:Mono]]
